<div class="card-columns m-3 mt-5">

  <!-- Local games -->
  {% for game in site.games %}

    {%- assign game_type  = "local" -%}
    {%- assign game_id    = game.name | slugify -%}

    {%- if game.external_img -%}
      {%- assign game_img = game.external_image -%}
    {%- else -%}
      {%- assign u = game.image | split: "games/" -%}
      {%- assign game_img = u[0] | relative_url -%}
  {%- endif -%}
  

    {%- assign game_name  = game.name -%}
    {%- assign game_desc  = game.description -%}
    {%- assign game_tools = game.tools -%}

    {%- if game.external_url -%}
      {%- assign game_url = game.external_url -%}
      {%- assign external    = true -%}
    {%- else -%}
      {%- assign game_url = game.url | relative_url -%}
      {%- assign external    = false -%}
    {%- endif -%}

    {% include games/game-card.html %}

  {% endfor %}




  <!-- Remote games -->
  {% for remote_game in page.remote_games %}

  {% if site.github.private != true and site.github.license %}
   {%- for repo in site.github.public_repositories -%}

    {%- if remote_game == repo.name -%}

        {%- assign game = repo -%}
        {%- assign words = game.name | split: '-' -%}
        
        {%- capture titlecase -%}
          {%- for word in words -%}
            {{ word | capitalize | append: ' ' }}
          {%- endfor -%}
        {%- endcapture -%}

        {%- assign game_type  = "remote" -%}
        {%- assign game_id    = game.name -%}
        {%- assign game_img   = false -%}
        {%- assign game_name  = titlecase | strip -%}
        {%- assign game_desc  = game.description -%}
        {%- assign game_url   = game.html_url -%}
        {%- assign game_tools = game.topics -%}
        {%- assign external      = true -%}

        {% include games/game-card.html %}

      {%- endif -%}

    {%- endfor -%}

  {%- endif -%}

  {% endfor %}
</div>