<h1 class="mt-4">Tags</h1>

{% assign all_docs = site.posts | concat: site.games | concat: site.python %}
{% assign raw_tags = "" %}

{%- for doc in all_docs -%}
  {%- if doc.tags -%}
    {%- assign raw_tags = raw_tags | append: doc.tags | join:'|' | append:'|' -%}
  {%- endif -%}

  {%- if doc.tools -%}
    {%- assign raw_tags = raw_tags | append: doc.tools | join:'|' | append:'|' -%}
  {%- endif -%}
{%- endfor -%}

{% assign tags = raw_tags | split:'|' | uniq | sort %}

{% for tag in tags %}
  {% if tag != "" %}
  <div class="py-3">
    <h4 id="{{ tag | slugify }}">{{ tag }}</h4>
    <ul>
      {% for doc in all_docs %}
        {% assign doc_tags = "" %}

        {% if doc.tags %}
          {% assign doc_tags = doc.tags %}
        {% elsif doc.tools %}
          {% assign doc_tags = doc.tools %}
        {% endif %}

        {% if doc_tags contains tag %}
          {% if doc.external_url %}
            {% assign url = doc.external_url %}
          {% else %}
            {% assign url = doc.url | relative_url %}
          {% endif %}

          <li>
            <a href="{{ url }}">
              {{ doc.title | default: doc.name }}
            </a>
            <small class="text-muted">
              — {{ doc.collection | capitalize | default: "Post" }}
            </small>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <hr>
  {% endif %}
{% endfor %}