<div class="wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ code_url }}" class="project card text-themed"></a>
     {% if external and site.open_new_tab %}target="_blank"{% endif %}>
    
    {% if code_img %}
      <img id="{{ code_id }}-img" class="card-img-top" src="{{ code_img }}" alt="{{ code_name }}" />
    {% endif %}
    
    <div class="card-body">
      <h5 id="{{ code_id }}-name" class="card-title">
        {% if code_type == "remote" %}
          <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> |&nbsp;
        {% endif %}
        {{ code_name }}
      </h5>

      {% if code_desc %}
        <p id="{{ code_id }}-desc" class="card-text">{{ code_desc }}</p>
      {% endif %}

      {% if code_tools %}
        <p id="{{ code_id }}-tools" class="card-text">
          {% for tool in code_tools %}
            <span class="badge badge-pill text-primary border border-primary ml-1">{{ tool }}</span>
          {% endfor %}
        </p>
      {% endif %}
    </div>
  </a>
</div>
